
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF.8"/>
<title>services</title>
<meta name="description" content="this is my page services">   
</head>
<body>
<section class="container">

  <div class="card">
    <div class="card-image car-1"></div>
    <h2>Metro ticket approval</h2>    
    <p>Service Price:&nbsp; $50 </p>
    <p>Educational Service</p>
    <button class="btn btn1">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-2"></div>
    <h2>Letter Approval Service</h2>    
    <p>Service Price:&nbsp;  $50 </p>
    <p>Educational Service</p>
    <button class="btn btn2">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-3"></div>
    <h2>Course Repeat fees</h2>    
    <p>Service Price:&nbsp; $100 </p>
    <p>Educational Service</p>
    <button class="btn btn3">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-4"></div>
    <h2>Disclaimer</h2>    
    <p>Service Price:&nbsp;$50 </p>
    <p>Educational Service</p>
  <button class="btn btn4">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-5"></div>
    <h2>Replacement of lost card</h2>    
    <p>Service Price:&nbsp;$100 </p>
    <p>Educational Service</p>
    <button class="btn btn5">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-6"></div>
    <h2>Grading Certificate English</h2>    
    <p>Service Price:&nbsp;$200 </p>
    <p>Educational Service</p>
    <button class="btn btn6">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-7"></div>
    <h2>Excuse fees full</h2>    
    <p>Service Price:&nbsp;$160 </p>
    <p>Educational Service</p>
    <button class="btn btn7">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-8"></div>
    <h2>Fees</h2>    
    <p>Service Price:&nbsp; $150</p>
    <p>Educational Service</p>
    <button class="btn btn8">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-9"></div>
    <h2>Graduation Certificate</h2>    
    <p>Service Price:&nbsp; $100 </p>
    <p>Educational Service</p>
    <button class="btn btn9">Requst service</button>
  </div>
  
  <div class="card">
    <div class="card-image car-10"></div>
    <h2>Soliciting or Grading</h2>    
    <p>Service Price:&nbsp; $170 </p>
    <p>Educational Service</p>
    <button class="btn btn10">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-11"></div>
    <h2>Desire Change</h2>    
    <p>Service Price:&nbsp;$10 </p>
    <p>Educational Service</p>
    <button class="btn btn11">Requst service</button>
  </div>
  <div class="card">
    <div class="card-image car-12"></div>
    <h2>Science content</h2>    
    <p>Service Price:&nbsp; $50 </p>
    <p>Educational Service</p>
    <button class="btn btn9">Requst service</button>
  </div>
</section>


<footer>
  <div class="footer-content">
      <h3>Hop To Learning</h3>
      <p>Follow us on our socials for more information about us </p>
      <u class="socials">
          <li id="face"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
          <li id="twit"><i class="fa fa-twitter" aria-hidden="true"></i></li>
          <li id="yt"><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
          <li id="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
          <li id="linked"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
      </u>
      <div class="footer-bottom">
          <p>Copyright &copy;2022 Hop To Learning Designed By <span>Adham,Hazem,Ibrahim,AbdElRahman</span></p>
      </div>
  </div>
</footer>

</body>
</html>