
<div class="cotainer">
    <div id="u519_text">
        <p><span>Hop To Learning is one of the world’s largest LMS platforms provider</span></p>
    </div>
    <div id="u521_text">
        <p><span>We leverage open-source software to deliver a highly effective, customized, and engaging learning
                experience.</span></p>
    </div>
    <div id="u522_text">
        <p><span>Our experience makes us your perfect eLearning partner.</span></p>
    </div>
    <div id="u520_text">
        <p><span>Since 2005, we have efficiently supported educational institutions and companies with a suite of
                technology
                and level of customer service that allows Learning &amp; Development professionals, LMS administrators
                and
                instructors to focus on creating quality learning and an engaging learning experience that allows both
                learners and stakeholders to enjoy learning and track learning results. <br> <br> We’re part of Learning
                Technology Group plc, an industry-leader in the workplace digital learning and talent management market
                that
                has been recognized as a strategic leader in Digital Learning in the 2021 Fosway 9-GridTM for the 5th
                year
                in row.</span></p>
    </div>
    <img id="u523_img" src="assets/img/u523.png" />
    <div id="u524_text">
        <p><span>We give our clients world-class LMS support</span></p>
    </div>
    <div id="u525_text">
        <p><span>Open LMS understands that organizations need more than an eLearning platform—they need an eLearning
                partner. We team up with our clients by accompanying, advising on, and guiding the construction of their
                platform, as well as its maintenance and growth. Our obsession with customer success drives us to be a
                true
                partner for our clients.</span></p>
    </div>
    <img id="u526_image" src="assets/img/u526.png" />
    <img id="u527_image" src="assets/img/u527.png" />
</div>

<footer>
    <div class="footer-content">
        <h3>Hop To Learning</h3>
        <p>Follow us on our socials for more information about us </p>
        <u class="socials">
            <li id="face"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
            <li id="twit"><i class="fa fa-twitter" aria-hidden="true"></i></li>
            <li id="yt"><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
            <li id="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
            <li id="linked"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
        </u>
        <div class="footer-bottom">
            <p>Copyright &copy;2022 Hop To Learning Designed By <span>Adham,Hazem,Ibrahim,AbdElRahman</span></p>
        </div>
    </div>
</footer>