
<div class="container"></div>

<div class="container2">
    <img id="bub1" src="assets/img/bub1.png" alt="img1">
    <img id="bub2" src="assets/img/bub2.png" alt="img2">
    <img id="bub3" src="assets/img/bub3.png" alt="img3">
    <img id="bub4" src="assets/img/bub4.png" alt="img4">
    <img id="bub5" src="assets/img/bub5.png" alt="img5">
</div>

<form class="box"  [formGroup]="loginForm" (ngSubmit)="submit()" >
    <h1>Hop To Learning</h1>
    <input type="email"  formControlName="email" placeholder="E-mail">
    <div *ngIf="email.invalid && (email.touched)">
        <span class="error" *ngIf="email.errors?.['required']">*e-mail required</span>
        <span class="error" *ngIf="email.errors?.['email']">*Enter valid e-mail</span>
    </div>
    <input type="password" formControlName ="password" name="password" placeholder="Password">
    <div *ngIf="password.invalid && (password.touched)">
        <span class="error" *ngIf="password.errors?.['required']">*Password required</span>
    </div>
    <button class="btn"> Login</button><!-- (click)="goToPage('Home')">  -->
    <p>Don't have an account? <a (click)="goToPage('signup')">Sign Up</a></p>
</form>