<div class="container"></div>

<div class="container2">
    <img id="bub1" src="assets/img/bub1.png" alt="img1">
    <img id="bub2" src="assets/img/bub2.png" alt="img2">
    <img id="bub3" src="assets/img/bub3.png" alt="img3">
    <img id="bub4" src="assets/img/bub4.png" alt="img4">
    <img id="bub5" src="assets/img/bub5.png" alt="img5">
</div>

<form class="box" action="index.html" method="post" name="inputForm">
    <h1>Hop To Learning</h1>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" name="" value="LOG IN"> <!-- (click)="goToPage('Home')">  -->
    <p>Don't have an account? <a (click)="goToPage('signup')">Sign Up</a></p>
</form>