<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-icon routerLink="Home">cruelty_free</mat-icon> <span routerLink="Home"> Hop To Learning</span>


    <div class="spacer"></div>
    <a mat-button routerLink="Home"><p>Home</p></a>
    <a mat-button routerLink="courses"><p>Courses</p></a>
    <a mat-button routerLink="services"><p>Services</p></a>
    <a mat-button routerLink="About Us"><p>About Us</p></a>
    <a mat-button routerLink="Contact Us"><p>Contact Us</p></a>
    <a mat-raised-button color="accent" routerLink="login">Log In</a>
  </mat-toolbar>