<div class="container">
    <div id="u175_text">
        <p><span>We are listening!</span></p>
    </div>
    <div id="u176_text">
        <p><span>Send us some feedback.</span></p>
    </div>
    <div id="u177_div">
        <input id="u177_input" type="text" value="" />
    </div>
    <div id="u178_text">
        <p><span>Full Name</span></p>
    </div>
    <div id="u180_text">
        <p><span>Email Address</span></p>
    </div>
    <div id="u181_div">
        <input id="u177_input" type="text" value="" />
    </div>
    <div id="u182_text">
        <p><span>Phone Number</span></p>
    </div>
    <div id="u183_div">
        <input id="u177_input" type="text" value="" />
    </div>
    <div id="u184_text">
        <p><span>Message</span></p>
    </div>
    <div id="u185_div">
        <input id="u177_input" type="text" value="" />
    </div>
    
    <button id="u186_btn">Submit</button>
    
    
    <div id="u187_img">
        <img id="u187_img" class="img " src="assets/img/u187.png" />
    </div>
</div>

<footer>
    <div class="footer-content">
        <h3>Hop To Learning</h3>
        <p>Follow us on our socials for more information about us </p>
        <u class="socials">
            <li id="face"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
            <li id="twit"><i class="fa fa-twitter" aria-hidden="true"></i></li>
            <li id="yt"><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
            <li id="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
            <li id="linked"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
        </u>
        <div class="footer-bottom">
            <p>Copyright &copy;2022 Hop To Learning Designed By <span>Adham,Hazem,Ibrahim,AbdElRahman</span></p>
        </div>
    </div>
</footer>