<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div class="first">
        <h1>welcome to our site</h1>
    </div>


    <div class="first1">

        <div>
            <input type="search" placeholder="what you want to learn" class="second1">
        </div>

        <!-- second div -->
        <div class="second">
            <h4>could be useful to you</h4>
        </div>
    </div>
    <br>
    <br>



    <div class="picture">

        <!-- first picture -->
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="assets/img/algorithm.jpg" alt="Cinque Terre" width="600" height="400"
                        class="img.r">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficultyc :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>

        <!-- second picture -->

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_forest.jpg">
                    <img src="assets/img/ART.jpg" alt="Forest" width="600" height="400"
                        class="img.r">
                </a>
                <div class="desc">
                    <h4>professor name : <mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>
        <!-- third picture -->

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_lights.jpg">
                    <img src="assets/img/business.jpg" alt="Northern Lights" width="600"
                        height="400">
                </a>
                <div class="desc">
                    <h4>professor name : <mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Easy</mark></h4>
                </div>
            </div>
        </div>
        <!-- fourthpicture -->

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="assets/img/computer science.jpg" alt="Mountains" width="100" height="100">
                </a>
                <div class="desc">
                    <h4>professor name : <mark> some one </mark></h4>
                    <h4>Difficulty :<mark> Hard </mark></h4>
                </div>
            </div>
        </div>

        <!-- fivth picture -->


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="assets/img/data science.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>

        <!-- sixth picture -->

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_forest.jpg">
                    <img src="assets/img/health.jpg" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>
        <!-- seventh picture -->

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_lights.jpg">
                    <img src="assets/img/IT.jpg" alt="Northern Lights" width="600"
                        height="400">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>
        <!-- eighth picture -->

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="assets/img/language.jpg" alt="Mountains" width="100" height="100">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>

        <!-- nineth picture -->
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="assets/img/personel development.jpg" alt="Mountains" width="100" height="100">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>
        <!-- tenth picture -->
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="assets/img/physics.jpg" alt="Mountains" width="100" height="100">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>
        <!-- tenth picture -->
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="assets/img/social science.jpg" alt="Mountains" width="100" height="100">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>
        <!-- tenth picture -->
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="video.html">
                    <img src="assets/img/math.jpg" alt="Mountains" width="100" height="100">
                </a>
                <div class="desc">
                    <h4>professor name :<mark> some one </mark></h4>

                    <h4>Difficulty :<mark> Hard</mark></h4>
                </div>
            </div>
        </div>
        <!-- tenth picture -->

        <div class="clearfix"></div>

    </div>


    <footer>
        <div class="footer-content">
            <h3>Hop To Learning</h3>
            <p>Follow us on our socials for more information about us </p>
            <u class="socials">
                <li id="face"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
                <li id="twit"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                <li id="yt"><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
                <li id="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li id="linked"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
            </u>
            <div class="footer-bottom">
                <p>Copyright &copy;2022 Hop To Learning Designed By <span>Adham,Hazem,Ibrahim,AbdElRahman</span></p>
            </div>
        </div>
    </footer>

</body>

</html>